* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.margin-zero {
  margin: 0;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-content: center;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: flex-start;
}

.flex-div {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 65%;
}

.subject {
  margin-left: 20px;
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
  gap: 3px;
}

#email , #senha , #input-name , #input-lastname , #input-email , #house {
  width: 220px;
  height: 42px;
  border: 1px solid black;
  border-radius: 4px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
  outline: none;
  margin-right: 5px;
}

#btn-login {
  width: 100px;
  height: 42px;
  border: 1px solid black;
  border-radius: 4px;
  font-family: Verdana, Tahoma, sans-serif;
  cursor: pointer;
  color: white;
  outline: none;
  margin-right: 5px;
  background-color: blueviolet;
}

#submit-btn {
  border: 1px solid black;
  outline: none;
  font-family: Verdana, Tahoma, sans-serif;
  margin-left: 20px;
  cursor: pointer;
  padding: 5px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(33, 37, 41);
  color: white;
  margin-top: 20px;
}
